<!-- Author: Nitin Rai
Student Number: 300860889 
COMP308 Assignment 1 Express Portfolio

Page : Index(Home Page) -->


<% include ../partials/header.ejs %>
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Hi! This is my Express Website</h1>
          <h2>I am Nitin Rai</h2>
          <div class="img">
            <img src="/Images/NitinRai.jpg" height="300" width="200">
           <div class="caption">
             <p>My pic!</p>
        </div>
      </div>
        <p> This is my portfolio website</p>
    </div>
    </div>
   </div>
    <div class="footer">
      &copy; 2017 Rai Creations
    </div>
 <% include ../partials/footer.ejs %>
